{% embed 'shared/_tabs.html.twig' %}
    {% block tabs %}
        {% embed 'shared/_tab.html.twig' with { route: 'app_profile' } %}
            {% block content %}
                Posts <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ user.posts.count }}</span>
            {% endblock %}
            {% block path %}
            {{ path('app_profile', { id: user.id }) }}
            {% endblock %}
        {% endembed %}

        {% embed 'shared/_tab.html.twig' with { route: 'app_profile_follows', classes: 'ml-2' } %}
            {% block content %}
                Follows <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ user.follows.count }}</span>
            {% endblock %}
            {% block path %}
            {{ path('app_profile_follows', { id: user.id }) }}
            {% endblock %}
        {% endembed %}

        {% embed 'shared/_tab.html.twig' with { route: 'app_profile_followers', classes: 'ml-2' } %}
            {% block content %}
                Followers <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ user.followers.count }}</span>
            {% endblock %}
            {% block path %}
            {{ path('app_profile_followers', { id: user.id }) }}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}