{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
  {% if posts|length > 0 %}
    {% for post in posts %}
      <div class="mb-4">
        <div class="text-2xl">
          <a href="{{ path('app_micro_post_show', { post: post.id }) }}">
            {{ post.title }}
          </a>
        </div>
        <div class="text-xl dark:text-gray-400">
          {{ post.text }}
        </div>
        <div class="text-gray-500 dark:text-gray-400">
          {{ post.created | date("M j, Y") }}
        </div>
        <div>
          <a href="#">
            Like <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">0</span>
          </a>
        </div>
        <div class="text-sm text-gray-500 dark:text-gray-400">
          <a href="#">user@email.com</a>
        </div>
        <div>
          <a href="{{ path('app_micro_post_edit', {post: post.id}) }}">Edit</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
</div>
{% endblock %}
